<div class="container-1">
    <div class="headings">
        <span class="heading">Start new... Today!</span>
        <span class="sub-heading">Vivamus vestibulum elit efficitur, elementum
            sapien a, aliquet ipsum
        </span>
    </div>
    <div class="image-wrapper">
        <img src="../../assets/56256.png">
    </div>
</div>

<div class="container-2">
    <span class="heading">Lorem ipsum something</span>
    <div class="content">
        <div class="image-wrapper">
            <img src="../../assets/56217.png">
        </div>
        <div class="paragraph-container">
            <span class="paragraph-heading">New Product, new Story</span>
            <p class="paragraph">
                Vivamus vestibulum elit efficitur, elementum sapien a, aliquet ipsum. Fusce placerat dolor id cursus finibus. Aliquam tempus facilisis ipsum sit amet molestie. Proin lobortis eros a turpis tempor, sed ornare augue aliquam. Donec imperdiet nulla ut placerat molestie. In hendrerit blandit ante facilisis ultrices. Mauris vulputate metus sit amet ex dignissim, sed hendrerit nunc rhoncus.
            </p>
        </div>
    </div>
</div>

<div class="logos-container">
    <div class="logos-wrapper">
        <div class="wrapper"><a routerLink="/products"><img src="../../assets/logo_number_1.svg"></a></div>
        <div class="wrapper"><a routerLink="/products"><img src="../../assets/logo_number_1.svg"></a></div>
        <div class="wrapper"><a routerLink="/products"><img src="../../assets/logo_number_1.svg"></a></div>
        <div class="wrapper"><a routerLink="/products"><img src="../../assets/logo_number_1.svg"></a></div>
        <div class="wrapper"><a routerLink="/products"><img src="../../assets/logo_number_1.svg"></a></div>
    </div>
</div>

<div class="blog-posts-container">
    <div class="blog-posts-wrapper">
        <div class="wrapper">
            <a routerLink="/blog" class="image-wrapper"><img src="../../assets/dustin-lee-19667-unsplash.png"></a>
            <div class="text-wrapper">
                <span class="title">Blog Title #1</span>
                <span class="excerpt">Blog excerpt - first lines - for approx two lines</span>
            </div>
        </div>
        <div class="wrapper">
            <a routerLink="/blog" class="image-wrapper"><img src="../../assets/dustin-lee-19667-unsplash.png"></a>
            <div class="text-wrapper">
                <span class="title">Blog Title #1</span>
                <span class="excerpt">Blog excerpt - first lines - for approx two lines</span>
            </div>
        </div>
        <div class="wrapper" *ngIf="!(mobileBreakpoint$ | async)">
            <a routerLink="/blog" class="image-wrapper"><img src="../../assets/dustin-lee-19667-unsplash.png"></a>
            <div class="text-wrapper">
                <span class="title">Blog Title #1</span>
                <span class="excerpt">Blog excerpt - first lines - for approx two lines</span>
            </div>
        </div>
        <div class="wrapper" *ngIf="!(mobileBreakpoint$ | async)">
            <a routerLink="/blog" class="image-wrapper"><img src="../../assets/dustin-lee-19667-unsplash.png"></a>
            <div class="text-wrapper">
                <span class="title">Blog Title #1</span>
                <span class="excerpt">Blog excerpt - first lines - for approx two lines</span>
            </div>
        </div>
    </div>
</div>

<div class="btn-container">
    <button class="btn">Read more</button>
</div>