<div class="container-1">
    <div class="headings">
        <span class="heading">Start new... Today!</span>
        <span class="sub-heading">Vivamus vestibulum elit efficitur, elementum
            sapien a, aliquet ipsum
        </span>
    </div>
    <img src="../../assets/56256.png">
</div>

<div class="container-2">
    <span class="heading">Lorem ipsum something</span>
    <div class="content">
        <img src="../../assets/56217.png">
        <div class="paragraph-container">
            <span class="paragraph-heading">New Product, new Story</span>
            <p class="paragraph">
                Vivamus vestibulum elit efficitur, elementum sapien a, aliquet ipsum. Fusce placerat dolor id cursus finibus. Aliquam tempus facilisis ipsum sit amet molestie. Proin lobortis eros a turpis tempor, sed ornare augue aliquam. Donec imperdiet nulla ut placerat molestie. In hendrerit blandit ante facilisis ultrices. Mauris vulputate metus sit amet ex dignissim, sed hendrerit nunc rhoncus.
            </p>
        </div>
    </div>
    
</div>