:host {
    margin-top: 1em;
    
}

.container-1 {
    display: flex;
    margin-top: 20%;

    .headings {
        display: flex;
        flex-direction: column;

        .heading {
            font-weight: 600;
        }

        .sub-heading {
            font-size: 22px;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        padding: 0 8%;
        
        .heading {
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        .headings .sub-heading {
            font-size: 18px;
            color: #182333;
        }

        img {
            padding: 0 10%;
            margin-top: 5em;
            margin-bottom: 10em;;
        }
    }

    @media (min-width: 769px) {
        align-items: center;
        height: 384px;
        padding-right: 15%;
        padding-left: 15%;

        .heading {
            font-size: 46px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        img {
            margin-left: 3em;
        }
    }
}

.container-2 {
    display: flex;
    flex-direction: column;
    margin-top: 20%;

    .content {
        display: flex;
        align-items: center;
        margin-top: 40px;
    }

    .paragraph-container {
        display: flex;
        flex-direction: column;

        .paragraph-heading {
            font-size: 20px;
            font-weight: bold;
        }

        .paragraph {
            color: #182333;
            font-size: 18px;
            line-height: 33px;
        }
    }

    img {
        margin-right: 15%;
    }

    @media (max-width: 768px) {
        align-items: center;
        padding: 0 8%;

        .heading {
            font-size: 26px;
            font-weight: bold;
        }

        .content {
            flex-direction: column;
        }

        .paragraph-container {
            .paragraph-heading {
                font-size: 20px;
                font-weight: bold;
            }

            .paragraph {
                font-size: 16px;
                line-height: 33px;
            }
        }

        img {
            display: none;
        }
    }

    @media (min-width: 769px) {
        align-items: center;
        height: 384px;
        padding-right: 15%;
        padding-left: 15%;

        .heading {
            font-size: 32px;
            font-weight: bold;
        }

        .paragraph-container {
            .paragraph-heading {
                font-size: 20px;
                font-weight: bold;
            }

            .paragraph {
                width: 100%;
                font-size: 18px;
                line-height: 33px;
            }
        }
    }
}